body
{
	font-family: monospace;
	font-size: 1.2em;
	color: #000;
	background-color: #FFF;
}

.editor *
{
	white-space: pre-wrap;
	outline: none;
}

.editor em.underline
{
	text-decoration: underline;
}

.editor
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	min-height: 300px;
}

.editor p.block_container
{
	padding: 0px;
	margin: 0px;
	border: 1px solid #F3F5F7;
	margin-bottom: 5px;
	line-height: 1.2em;
	min-height: 1.2em;

}

.editor.dohighlight p.block_container.highlighted
{
	opacity: 1;
}

.editor.dohighlight p.block_container
{
	opacity: 0.2;
}

.editor p.block_container.blockquote
{
	color: #252519;
	padding-left: 1em;
}

.editor p.block_container span.h1,
.editor p.block_container span.h2,
.editor p.block_container span.h3,
.editor p.block_container span.h4,
.editor p.block_container span.h5,
.editor p.block_container span.h6
{
	display: inline-block;
	text-align: left;
}

.editor p.block_container.list
{
	padding-left: 4em;
}

.editor p.block_container.h1,
.editor p.block_container.h2,
.editor p.block_container.h3,
.editor p.block_container.h4,
.editor p.block_container.h5,
.editor p.block_container.h6
{
	font-weight: bold;
}

.editor p.block_container.h1
{
	font-size: 160%;
}

.editor p.block_container.h2
{
	font-size: 150%;
}

.editor p.block_container.h3
{
	font-size: 140%;
}

.editor p.block_container.h4
{
	font-size: 130%;
}

.editor p.block_container.h5
{
	font-size: 120%;
}

.editor p.block_container.h6
{
	font-size: 110%;
}
